<!--2.-Ver css de los errores -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix Sign up</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/sign-up.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/bc0fdfbb9f.js" crossorigin="anonymous"></script>
        <script src="../javascript/sign-up.js"></script>
    </head>
    <body>
        <header>
            <div>
                <span class="radium">Radium</span>
                <span class="rocket">Rocket</span>
            </div>
        </header>
        <main>
            <form>
                <h1>Sign up</h1>
                <div class="field">
                    <label>Name</label>
                    <input id="name" type="text" placeholder="Name">
                    <p id="name-error" class="error"></p>
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input id="last-name" type="text" placeholder="Last Name">
                    <p id="last-name-error" class="error"></p>
                </div>
                <div class="field">
                    <label>DNI</label>
                    <input id="dni" type="text" placeholder="DNI">
                    <p id="dni-error" class="error"></p>
                </div>
                <div class="field">
                    <label>Date of birth</label>
                    <input id="birthdate" type="date" placeholder="Date of birth">
                    <p id="birthdate-error" class="error"></p>
                </div>
                <div class="field">
                    <label>Telephone</label>
                    <input id="tel" type="text" placeholder="">
                    <p id="tel-error" class="error"></p>
                </div>
                <div class="field">
                    <label>Address</label>
                    <input id="address" type="text" placeholder="Address">
                    <p id="address-error" class="error"></p>
                </div>
                <div class="field">
                    <label>City</label>
                    <input id="city" type="text" placeholder="City">
                    <p id="city-error" class="error"></p>
                </div>
                <div class="field">
                    <label>Postal code</label>
                    <input id="zip" type="text" placeholder="Postal code">
                    <p id="zip-error" class="error"></p>
                </div>
                <div class="field">
                    <label>Email</label>
                    <input id="email" type="email" placeholder="Email">
                    <p id="email-error" class="error"></p>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input id="pwd" type="password" placeholder="Password">
                    <p id="pwd-error" class="error"></p>
                </div>
                <div class="field">
                    <label>Repeat your password</label>
                    <input id="pwd2" type="password" placeholder="Password">
                    <p id="pwd2-error" class="error"></p>
                </div>
                <div class="buttons">
                    <button class="cancel"><a href="index.html">Cancel</a></button>
                    <button class="sign-up" id="submit-btn">Sign up</button>
                </div>
            </form>
        </main>
        <footer>
            <div class="trackgenix">
                <h3>Trackgenix &#174;</h3>
            </div>
        </footer>
    </body>
</html>