<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Great page to organize your team work">
    <meta name="keywords" content="hours worked, organization, teamwork, project managment, tracking, Trackgenix">
    <meta name="author" content="Ana Murinigo">
    <title>Trackgenix</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/body.css">
    <link rel="stylesheet" href="css/aside.css">
    <link rel="stylesheet" href="css/landing.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/bc0fdfbb9f.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="RR">
        <span class="radium">Radium</span>
        <span class="rocket">Rocket</span>
        </div>
        <span class="burger" href=""><i class="fa-solid fa-bars"></i></span>
    </header>
    <div class="asidemain">
        <aside>
            <div class="menu">Menu</div>
            <nav>
                <div class="list-style">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </div>
            </nav>
            <div class="menu">Contact us</div>
            <p>
                If you have any doubts or you want a free trial, please contact us!
            </p>
            <address>
                <ul>
                    <li><img src="assets(mail.png" alt=""> contact@trackgenix.com</li>
                    <li><img src="assets(mail.png" alt="">+1555-000-555</li>
                    <li><img src="assets(home.png" alt=""> 1234 Somewhere Road #8254 Nashvile, TN 000000-0000</li>
                </ul>
            </address>
        </aside>
        <div class="main-footer">
            <main>
                <div class="main-container">
                    <section class="main-section-container">
                        <div class="main-text">
                            <h1>Trackgenix</h1>
                            <p>
                                Maximize business potential, double employee performance and reach corporate goals
                                easier and
                                faster using Trackgenix!
                            </p>
                            <p>
                                Trackgenix has been in business for more than ten years and is the choise of most of the
                                most
                                famous companies.
                            </p>
                        </div>
                        <img class="reloj" src="img\clock.avif" alt="Reloj con onda">
                    </section>
                    <section class="section-container">
                        <h2>Funcionalities</h2>
                        <div class="cards-container">
                            <div class="card">
                                <img class="estrella" src="assets(star.png" alt="star">
                                <div class="star-text">
                                    <h3>Timesheet</h3>
                                    <p>
                                        This is exactly what you need to manage projects better! The <em>Timesheet</em>
                                        depict
                                        insightful
                                        performance data, inform your time management decisions and help to maximize the
                                        chances for
                                        project success.
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="estrella" src="assets(star.png" alt="star">
                                <div class="star-text">
                                    <h3>Reports</h3>
                                    <p>
                                        Reports show you how well you utilize your working time every day. Reviewing
                                        them,
                                        you will
                                        identify which tasks take too long to complete, figure out why that happens and
                                        make
                                        necessary
                                        improvements accordingly.
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="estrella" src="assets(star.png" alt="star">
                                <div class="star-text">
                                    <h3>Resource managment</h3>
                                    <p>
                                        With our tools, it is clear who’s working on which task, what’s been already
                                        done
                                        and what’s
                                        left to do. You can see employees time tracking at first hand.
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="estrella" src="assets(star.png" alt="star">
                                <div class="star-text">
                                    <h3>Roles</h3>
                                    <p>
                                        One of our great features is that you can select the roles of the usser. Your
                                        employees,
                                        project managers and admins all will be using <strong>one</strong> tool.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- cards container ends -->
                    </section>
                    <section class="section-container">
                        <h2>Why do you use Trackgenix?</h2>
                        <div class="cards-container">
                            <div class="card">
                                <img class="estrella" src="assets(star.png" alt="star">
                                <div class="star-text">
                                    <h3>Productivity booster</h3>
                                    <p>
                                        The best way to increase your company's productivity is via a well organized job
                                        managment,
                                        keeping track of the incomes and outcomes and tracking how much time you are
                                        spending on
                                        tasks.
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="estrella" src="assets(star.png" alt="star">
                                <div class="star-text">
                                    <h3>World tracking</h3>
                                    <p>
                                        Regardless if you are traveling abroad or sitting tight in your house you can
                                        fill
                                        your
                                        working
                                        hours, checking your team reports or managing your projects.
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="estrella" src="assets(star.png" alt="star">
                                <div class="star-text">
                                    <h3>Leadership and team managment</h3>
                                    <p>
                                        Are you a project manager leading the project? With Trackgenix you can check and
                                        approve the hours worked by your team!
                                    </p>
                                </div>
                            </div>
                            <div class="card">
                                <img class="estrella" src="assets(star.png" alt="star">
                                <div class="star-text">
                                    <h3>Decision making</h3>
                                    <p>
                                        Choose the best course of action by gathering information and visualizing it
                                        clearly
                                        in form
                                        of charts
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-container">
                        <h2>Ask information</h2>
                        <form action="process.php" method="POST">
                            <div class="ask-info-container">
                                <div class="personal-info">
                                    <input class="fill-in" type="text" name="name" placeholder="Name">
                                    <input class="fill-in" type="email" name="email" placeholder="Email">
                                </div>
                                <div class="contact-area">
                                    <p>Contact area:</p>
                                    <div class="options">
                                        <div class="option">
                                            <input type="radio" name="humanResources">
                                            <label>Human Resources</label>
                                        </div>
                                        <div class="option">
                                            <input type="radio" name="systems">
                                            <label>Systems</label>
                                        </div>
                                        <div class="option">
                                            <input type="radio" name="commercialization">
                                            <label>Commercialization</label>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="textareadiv"> -->
                                <textarea class="textarea" name="message"
                                    placeholder="Please enter your messsage here"></textarea>
                                <!-- </div> -->
                                <div class="buttons">
                                    <input class="submit" type="submit" name="submit" value="Send Message">
                                    <button class="reset">Reset</button>
                                </div>
                            </div>
                        </form>
                    </section>
                    <section class="main-section-container">
                        <h2>About us</h2>
                        <div class="aboutus-container">
                            <div class="rocket-text">
                                <p>
                                    <strong>A group of students trying to get their first IT experience</strong>. Only
                                    one week
                                    ago we started our journey in the Radium Rocket bootcamp, under the
                                    coaching of Agustin Carthery.
                                </p>
                            </div>
                            <img class="rocket" src="img\radium-rocket-logo.png" alt="Radium rocket Logo">
                        </div>
                    </section>
                    <section class="links-container">
                        <div class="block">
                            <h4>Products</h4>
                            <nav>
                                <ol>
                                    <li> <a href="#">Features</a></li>
                                    <li> <a href="#">Downloads</a></li>
                                    <li> <a href="#">Integrations</a> </li>
                                    <li> <a href="#">Extras</a></li>
                                </ol>
                            </nav>
                        </div>
                        <div class="block">
                            <h4>Company</h4>
                            <nav>
                                <ol>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Clients</a></li>
                                    <li><a href="#">Resources</a></li>
                                    <li><a href="#">Blogs</a></li>
                                </ol>
                            </nav>
                        </div>
                        <div class="block">
                            <h4>Support</h4>
                            <nav>
                                <ol>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Tutorials</a></li>
                                    <li><a href="#">API</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ol>
                            </nav>
                        </div>
                    </section>
                </div>
            </main>
            <footer>
                <div class="us-links">
                    <a href="#"><img src="img\linkedin.png" alt="linkedin"></a>
                    <a href="#"> <img src="img\tw.png" alt="twitter"></a>
                    <a href="#"> <img src="img\wp.png" alt="whatssapp"></a>
                    <a href="#"><img src="img\fb.png" alt="facebook"></a>
                </div>
                <div class="trackgenix">
                    <h3>Trackgenix &#174;</h3>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>