<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix Sign up</title>
        <link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/footer.css">
        <link rel="stylesheet" href="../styles/sign-up.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/bc0fdfbb9f.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <div>
                <span class="radium">Radium</span>
                <span class="rocket">Rocket</span>
            </div>
        </header>
        <main>
            <form>
                <h1>Sign up</h1>
                <div class="field">
                    <label>Name</label>
                    <input id="name" type="text" placeholder="Name">
                    <p class="name-error"></p>
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input id="last-name" type="text" placeholder="Last Name">
                    <p class="last-name-error"></p>
                </div>
                <div class="field">
                    <label>DNI</label>
                    <input id="dni" type="text" placeholder="DNI">
                    <p class="dni-error"></p>
                </div>
                <div class="field">
                    <label>Date of birth</label>
                    <input id="birthdate" type="date" placeholder="Date of birth">
                    <p class="birthdate-error"></p>
                </div>
                <div class="field">
                    <label>Telephone</label>
                    <input id="tel" type="text" placeholder="">
                    <p class="tel-error"></p>
                </div>
                <div class="field">
                    <label>Address</label>
                    <input id="address" type="text" placeholder="Address">
                    <p class="address-error"></p>
                </div>
                <div class="field">
                    <label>City</label>
                    <input id="city" type="text" placeholder="City">
                    <p class="city-error"></p>
                </div>
                <div class="field">
                    <label>Postal code</label>
                    <input id="zip" type="text" placeholder="Postal code">
                    <p class="zip-error"></p>
                </div>
                <div class="field">
                    <label>Email</label>
                    <input id="email" type="email" placeholder="Email">
                    <p class="email-error"></p>
                </div>
                <div class="field">
                    <label>Password</label>
                    <input id="pwd" type="password" placeholder="Password">
                    
                    <p class="pwd-error"></p>
                </div>
                <div class="field">
                    <label>Repeat your password</label>
                    <input id="pwd2" type="password" placeholder="Password">
                    <p class="pwd2-error"></p>
                </div>
                <div class="buttons">
                    <button class="cancel"><a href="index.html"></a> Cancel</button>
                    <button class="sign-up">Sign up</button>
                </div>
            </form>
        </main>
        <footer>
            <div class="trackgenix">
                <h3>Trackgenix &#174;</h3>
            </div>
        </footer>
    <script src="../javascript/sign-up.js"></script>
    </body>
</html>