body{
    background-color:#fff;
    color:#373867;
    font:normal 16px 'Roboto', sans-serif;
    line-height: 20px;
   
}

header{
    position: fixed;
    width: 1455px;
    height: 69px;
    background-color:#373867;
    /* z-index: ? */
}
aside{
    display: inline-block;
    position: fixed;
    width: 343px;
    height: 928px;
    top: 69px;
    background-color: #D9D9E2;
    /* z-index: ? */
}

main{
    display: inline-block;
    margin-left: 343px;
    margin-top: 96px;
    /* width=1455-343 */
    /* z-index: ? */
}
/* I have to put all the main content in a div with the same length as the header and also be careful with the bars icon and the rest of the content. Maybe another div */
footer{
    display: inline-block;
    width: 1455px;
    height: 50px;
    margin-left: 343px;
    background-color: #D9D9E2
}

section{
    display:block;
    margin-left: 50px;
}

footer a{
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
footer h3{
    display: inline-block;
    width: 100px;
    text-align: center;
}
.cart{
    float:left;
    width:50%;
    box-sizing: border-box;
    /* En el video de radium muestra display: inline-block instead of float. Witch one should I choose and why? */
}
.carts-container{
    /* border-bottom: px; */
    display: inline-block;
}

.burger{
    position: fixed;
    margin-left:5px;
}

span.radium{
    font-size: 46px;
    font-weight: bold;
    color: #49A37B;
    position: relative;
    top: 20px;
    left: 20px;
}
span.rocket{
    font-size: 46px;
    font-weight: 100;
    color:#AACE9B;
    position: relative;
    top: 20px;
    left: 15px;
}
span.menu, span.contact-us{
    font-size:30px;
    font-weight: 700px;
    font-style:bold;
    border-bottom: 5px solid #AACE9B;
    margin-left:10px;
   
}
.estrella{
    display:inline-block;
    width:30px;
    object-fit: cover;
    position:relative;
    top:8px;

}
h3{
    display:inline-block;
    width:200px;
    font-size:20px;
}