/* General structural styling */
body{
    background-color:#fff;
    color:#373867;
    font:normal 16px 'Roboto', sans-serif;
    line-height: 20px;
}
header{
    position: fixed;
    width: 1455px;
    height: 69px;
    background-color:#373867;
}
aside{
    display: inline-block;
    position: fixed;
    width: 343px;
    height: 928px;
    top: 69px;
    background-color: #D9D9E2;
}
main{
    display: inline-block;
    margin-left: 343px;
    margin-top: 96px;
    width: 1312px;
    /* width=1455-343 */
    /* z-index: ? */
}
/* I have to put all the main content in a div with the same length as the header and also be careful with the bars icon and the rest of the content. Maybe another div */
footer{
    display: inline-block;
    width: 1455px;
    height: 50px;
    margin-left: 343px;
    background-color: #D9D9E2
}
section{
    display:block;
    margin-left: 50px;
}
/* General lettering properties */
h1 {
    font-weight: 700;
    font-size: 40px;
    color: #373867;
  }
  h2 {
    font-weight: 700;
    font-size: 30px;
    color: #373867    
  }
  h3{
    display:inline-block;
    width:200px;
    font-size:20px;
    font-weight: 700;
    color: #373867;
}
  h4{
    font-size: 14px;
    font-weight: 700;
    color: #373867;
}
  p{
      font-weight: 400;
      color: #373867;
  }
/* header properties */
span.radium{
    font-size: 46px;
    font-weight: bold;
    color: #49A37B;
    position: relative;
    top: 20px;
    left: 20px;
}
span.rocket{
    font-size: 46px;
    font-weight: 100;
    color:#AACE9B;
    position: relative;
    top: 20px;
    left: 15px;
}
/* aside properties */
span.menu, span.contact-us{
    font-size:30px;
    font-weight: 700;
    font-style:bold;
    border-bottom: 5px solid #AACE9B;
    margin-left:10px;  
}
.list-style{
    color: #373867;
}
.list-style ul li{
    border-bottom: 3px solid #373867;
}
span.contact-us{
    font-size: 30px;
    font-weight: 700;

}
/* burger properties */
.burger{
    position: fixed;
    margin-left:5px;
}
/* main properties */
.estrella{
    display:inline-block;
    width:30px;
    object-fit: cover;
    position:relative;
    top:8px;
    z-index: -1;
}
.card{
    float:left;
    width:50%;
    box-sizing: border-box;
    /* En el video de radium muestra display: inline-block instead of float. Witch one should I choose and why? */
}
.cards-container{
    /* border-bottom: px; */
    display: inline-block;
}

.reloj {
    display:inline-block;
    position: relative;
    width: 400px;
    height: 300px;
    object-fit: cover;
    left: 10px;
    z-index: -1;
}
  .main-text{
    display:inline-block;
    width: 400px;
    object-fit: cover;
    position: relative;
    left: 10px;
}
    /* footer properties */
footer a{
    display: inline-block;
    width: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
footer h3{
    display: inline-block;
    width: 100px;
    text-align: center;
}
  
  