body{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    color:#373867;
    font:normal 14px 'Roboto', sans-serif;
    line-height: 1.5em;
}

/* Space of every part */
header{
    display: flex;
    height: 15%;
}
.asidemain{
    display: flex;
    height: 70%;
}
footer{
  display:flex;
  height:10%;
}
