body{
    display:flex;
    flex-direction: column;
    background-color: #fff;
    color:#373867;
    font:normal 14px 'Roboto', sans-serif;
    line-height: 1.5em;
}
/* General lettering properties */
h1 {
    font-weight: 700;
    font-size: 60px;
    color: #373867;
    margin-bottom: 80px;
  }
  h2 {
    font-weight: 700;
    font-size: 2.14em;
    color: #373867;
    margin-bottom: 40px;
  }
  h3{
    display:inline-block;
    width:200px;
    font-size:1.3em;
    font-weight: 700;
    color: #373867;
    margin-bottom: 10px;
}
  h4{
    font-size: 1em;
    font-weight: 700;
    color: #373867;
}
  p{
      font-weight: 400;
      color: #373867;
      font-size:0.86em;
  }

/* Space of every part */
header{
    display: flex;
    height: 15%;
}
.asidemain{
    display: flex;
    height: 70%;
}
