header{
    position:fixed;
    display:inline-flex;
    width:100%;
    /* it's only temporal to see if it is working, later on i'm going to change it to 100%*/
    height: 69px;
    background-color:#373867;
    font-size: 46px;
    align-items: center;
    min-width:max-content;
    /* que onda, no me va a quedar espacio para el celu, achico la letra? */
}
span.radium{
    font-weight: bold;
    color: #49A37B;
    margin-left: 0.5em;
}
span.rocket{
    font-weight: 100;
    color:#AACE9B;
}
.burguer{
    display:none;
}