header{
    position:fixed;
    display:inline-flex;
    width:100%;
    height: 15%;
    background-color: #373867;
    font-size: 3em;
    align-items: center;
    min-width:max-content;
    z-index: 1;
}
span.radium{
    font-weight: bold;
    color: #49A37B;
    margin-left: 0.5em;
}
span.rocket{
    font-weight: 100;
    color:#AACE9B;
}
.burger{
    display:none;
    color:#AACE9B;
    font-size: 0.75em;
}