main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main-section-container{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 5%;
}
.reloj {
    display:inline-flex;
    width: 50%;
    object-fit: cover;
    align-items: center;
    justify-content: center;
}
  .main-text{
    display:inline-flex;
    flex-direction: column;
    width: 30%;
    margin-left:3%;
    font-size: 1.43em;
    font-weight: 400px;
}
.main-text p{
    margin-bottom: 1.5em;
}