.border{
    border: 1px solid black;
}
 /* Links properties */
 a:link, a:visited,a:active{
    text-decoration: none;
    color: #373867;
}
/* General lettering properties */
h1 {
    font-weight: 700;
    font-size: 2.4em;
    color: #373867;
    margin-bottom: 1.5em;
  }
  h2 {
    font-weight: 700;
    font-size: 2.14em;
    color: #373867;
    margin-bottom: 3em;
  }
  h3{
    display:inline-block;
    margin-bottom: 1em;
    font-size:1.3em;
    font-weight: 700;
    color: #373867;
}
  h4{
    font-size: 1em;
    font-weight: 700;
    color: #373867;
}
  p{
      font-weight: 400;
      color: #373867;
      font-size:0.86em;
  }
 @media screen and (max-width:780px){
    aside{
        display: none;
    } 
    body{
        font-size: 12px ;
    }
    .burger{
        display: inline-block !important;
    }
    .asidemain aside{
        display:none;
    }
} 