body{
    font-size: 14px;
}
main{
    background-color: #fff;
}
.border{
    border: 1px solid black;
}
 /* Links properties */
 a:link, a:visited,a:active{
    text-decoration: none;
    color: #373867;
}
 @media only screen and (max-width:780px){
    aside{
        display: none;
    } 
    body{
        font-size: 12px ;
    }
    .burger{
        display: inline-block;
    }
    .asidemain aside{
        display:none;
    }
} 